.nav-message {
  animation: fadeOut 2s;
  animation-delay: 1s;
  opacity: 1;
  // transition: visibility 0s 2s, opacity 2s linear;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // transition: all .15s ease;
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

// not in use rn