@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

/* Scrollbar tings */

::-webkit-scrollbar {
  width: 8px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overscroll-behavior-x: none;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html,
body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    //background: #fafafa;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

#app {
  height: 100%;
  width:100%;
  overflow: hidden;
  #main-container {
    height: 100%;
    //overflow-y: scroll;
    display: flex;
    flex-direction: column;
    #pusher {
      height: 5cm;
      background:#fafafa;
    }
  }
  #paste-list-container {
    height:100%;
  }
}

@media (max-width: 768px) {
  #pusher {
    height: 6cm !important;
  }
}