#navbar {
  width: 100%;
  height: 55px;
  top:0px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #logo-menu-container {
    display:flex;
    //pointer-events:none;
    cursor: pointer;
    #logo, #menu-btn {
      margin-left:25px;
    }
    #menu-btn {
      align-self: center;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  #login-button {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  #status {
    margin-right: 15px;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

