#paste-list {
  height: 100%;
  overflow-y: auto;
  padding: 0px 30px 1rem 30px;
  background: #fafafa;
  .paste-container {
    display: flex;
  }
  .paste {
    margin: 20px 15px 20px 0px;
    padding: 10px 22px 10px 22px;
    border: 1px #e1e1e1 solid;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 100px;
    transition: all .15s ease;
    &:hover {
      border:1px solid green;
    }
  }
  .hide {
    opacity:0;
  }
}