#paste-list {
  height: 100%;
  overflow-y: auto;
  padding: 0px 30px 1rem 30px;
  background: #fafafa;
  .paste-text {
    font-size: 1.2em;
  }
  .paste-text {
    &:link {   
      color: #02437c;
    }
    &:visited {
      color:#46027c;
    }
  }
  .paste-container {
    display: flex;
  }
  .paste {
    overflow-wrap: break-word;
    margin: 20px 15px 20px 0px;
    padding: 0.9em 22px 0.9em 22px;
    border: 1px #e1e1e1 solid;
    max-width: fit-content;
    min-width: 100px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4vmax;
    transition: all .15s ease;
    line-height: 1;
    &:hover {
      border:1px solid green;
    }
  }
  .hide {
    display:none;
  }
}

@keyframes fadeOut {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@media only screen and (max-width: 400px) {
  #paste-list {
    padding: 0px 10px 1rem 15px;
    .paste {
      padding:16px 22px 16px 22px;
    }
    // .copy-confirm p {
    //   display:none;
    // }
  }
}

@media only screen and (max-width: 600px) {
  // .copy-confirm p {
  //   display:none;
  // }
}
